@import url("./bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.footerTitle {
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
}

.footerSection {
  background-color: #000;
  padding: 5rem 0rem;
}

.footerLinkTitle {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.9rem 0 0.9rem 0;
}
.footerLinks {
  color: #fff;
  margin: 0.4rem;
  font-size: 16px;
}
.footerLinks a:hover {
  color: #fff;
}
.icons-list img {
  width: auto;
}

.page_title {
  margin: 13px 0 40px 0 !important;
}
.page_title span b {
  font-weight: 500 !important;
}
.footerDiv {
  max-width: 95%;
}

@media (min-width: 1400px) {
  .footerDiv {
    max-width: 93%;
  }
}

@media screen and (max-width: 767px) {
  .page_title {
    margin-bottom: 15px !important;
  }

  .footerTitle {
    font-size: 20px;
    line-height: 30px;
  }
  .contacts-block {
    margin-top: 0 !important;
  }
  .footerLinks {
    text-align: left;
    line-height: 20px !important;
    font-size: 12px;
    margin: 0;
  }
  .SearChes {
    padding: 0 !important;
  }
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

@media screen and (max-width: 767px) {
  .icons-list {
    margin-top: 20px;
  }
  .footerLinkTitle {
    width: 100% !important;
    font-weight: 500 !important;
    font-size: 13px;
  }
}

.ing .fa {
  margin-right: 15px;
}

amp-img,
img {
  height: 100%;
  width: 100%;
}

.mbr-m-sub-1,
.mbr-row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.sectionBeforeFooterDescription {
  margin: 0 auto;
  line-height: 31px;
  font-size: 18px;
  padding-top: 0;
  font-weight: 400;
  color: #334;
  padding-bottom: 23px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: Trebuchet MS !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Trebuchet MS !important;
}
.contacts-block {
  margin-top: 60px;
}

.checked {
  color: orange;
}
